#projects > .project:not(:last-child) {
  padding: 2rem 0;
  border-bottom: 1px solid black;
}

.project-header {
  font-size: 2rem;
  margin-bottom: 0;
}

.project-info {
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.project-description {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.project-tag {
  display: inline-block;
  font-size: 12px;
  border: 2px solid black;
  margin: 0.25rem 0.25rem 0.25rem 0;
  padding: 0.25rem 0.75rem;
  font-weight: 600;

  &:hover {
    color: white;
    background-color: #666;
    border: 2px solid #666;
  }
}
